@import url(https://fonts.googleapis.com/css2?family=Amaranth:ital@0;1&family=Teko:wght@500&display=swap);


.App {
  text-align: center;
  background-color: rgb(42, 150, 65);
 
  margin: 0px;
  height: 100%;
  width: 100%;


}
.home{
  background-color: rgb(42, 150, 65);
}
input{
  display: block;
  padding: 8px 16px;
  font-size: 2em;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}
.valid {
  border-color: #36cc36;
}
.invalid {border-color:red}

input + p {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 10px;
  text-align: center;
  color: red;
  opacity: 0;
  height: 0;
}
input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}

/* .background {
  background-image: url(./images/schoolbus.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

  background-attachment: fixed;
} */

.icon-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  text-decoration: none;
  flex-direction: row;
  padding-top: 150px;

}

.btn {
  text-decoration: none;
}
.deleteButton{
  
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;

}
/* .updateButton{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;

}
.emailButton{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;
  
} */
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  font: bold 20px Arial;
  text-decoration: none;
  width: 80px;
  
}




.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  /* padding-right: 20px; */
}

.start {
  height: 1px;
  width: 1px;
  margin-bottom: 50px;
  text-decoration: none;
  display: flex;
  align-items: baseline;

}

.edit {
  height: 1px;
  width: 1px;
  padding-top: 100px;
  text-decoration: none;
}

.signout {
  display: flex;
  /* flex-flow: row nowrap; */
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
  padding: 50px;

}

.list {
  list-style: none;
}

.header>h3 {
  text-align: center;
}



/* .header {
  background-color: #f39a3a;
  height: 200px;
  width: 100%;
  margin-bottom: 100px;
  border-bottom: 1px solid black;


} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.pageNav{
  padding: 10px;
  background-color: rgba(52,52,52);
  border: white 1px solid;
  width: fi;
}

/* .App-header {
  background-color: #282c34;
  min-height: 00vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
  .cover{
    padding-top: 0px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: black 3px solid;
    width: fit-content;
    height: auto;
    background-color: black;
    
  }
  .report{
   
    margin: 20px;
    width: auto;
    height: fit-content; 
    display: flex;
    align-items: center;
    justify-content: center; 
    
    
    border: white 2px solid;
    font-weight: 800;
    background-color: rgb(176, 176, 176);
    overflow: hidden;
 
 
   }
  .reportPreview{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: baseline; */
    height: 50px;
    /* width: auto;  */
    overflow: auto;
    
    background-color: rgb(176, 176, 176);
    border: gray 2px solid;

  }
 
.back{
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 

}
/* table styling */
.table.table-bordered{
  color: black;
  text-align: center;
  
  background-color: rgba(119,148,73);
  font-family: 'Amaranth';
  padding: 25px
}

.aboutUsLink {
  color: black;
}

.aboutUsLink:hover {
  color: whitesmoke;
}

.color-nav {
  background-color:  rgb(235, 80, 36);
  font-family: 'Amaranth', sans-serif;
  font-weight: 500;
  font-size: 24px;
 
  
}
/* 
.nav-link {
  font-family: 'Amaranth', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color:black;
} 
 .nav-drop-item {

 }
*/